*{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

div{


    text-align: center;
    margin: 5px solid #fff;
    



}

h1{

    padding: 2rem;
    text-align: center;
    color: rgb(127, 197, 113);

}
