*{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(55, 64, 136);
}

h2{

    color: rgb(177, 85, 174);
    text-align: center;


}

.principal_container{

    padding: 4rem;

}

footer{

    text-align: center;
    color: #fff;


}

