*{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(49, 124, 70);
}

h2{

    color: rgb(177, 85, 85);


}

.principal_container{

    padding: 4rem;

}


footer{

    text-align: center;
    color: #fff;


}
