*{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(136, 131, 55);
}

h2{

    color: rgb(85, 177, 142);
    text-align: center;


}

.principal_container{

    padding: 4rem;

}
